## Freedom Ranking for Different Countries

You can get the dataset from [here](https://drive.google.com/drive/folders/1wr0J571rlfexEJ4-de6_tz1QvU-cJ0df?usp=share_link).

Some feature details of the dataset:

| Feature | Description |
| :--: | :-- |
| A | Electoral Process |
| B | Political Pluralism and Participation |
| C | Functioning of Government |
| D | Freedom of Expression and Belief |
| E | Associational and Organizational Rights |
| F | Rule of Law |
| G | Personal Autonomy and Individual Rights |
| CL | Civil Liberties Scores |
| Status | F=Free, PF=Partly Free, NF=Not Free |


###`Q-1` Find out top 10 countries' which have maximum A and D values.


###`Q-2` Find out highest CL value for 2020 for every region. Also sort the result in descending order. Also display the CL values in descending order.

In [ ]:
SELECT * FROM campusx.country_ab AS t1
LEFT JOIN  campusx.country_cd AS  t2
ON t1.Country = t2.Country
ORDER BY t1.A DESC, t2.D DESC
LIMIT 1

In [ ]:
SELECT t2.Region,MAX(t1.CL) AS HighestCLValue,t2.Edition FROM campusx.country_cl AS t1
INNER JOIN campusx.country_ab AS t2 ON t1.Country = t2.Country
WHERE t2.Edition = 2020
GROUP BY t2.Region
ORDER BY HighestCLValue DESC;

## Dataset
Data Link-> https://drive.google.com/drive/folders/1bGgNTDy5L_IodNcGHdB_SNCkUI5MUjmY?usp=share_link
Four Tables:
* Customer
* Employee
* Sales
* Products

###`Q-3` Find top-5 most sold products.

### `Q-4:` Find sales man who sold most no of products.

### `Q-5:` Sales man name who has most no of unique customer.

###`Q-6:` Sales man who has generated most revenue. Show top 5.

###`Q-7:` List all customers who have made more than 10 purchases.

### `Q-8` : List all salespeople who have made sales to more than 5 customers.

### `Q-9:` List all pairs of customers who have made purchases with the same salesperson.

In [ ]:
SELECT t1.ProductID,t1.`Name`,COUNT(t1.`Name`) AS Quantity FROM campusx.products t1
INNER JOIN campusx.sales1 t2
ON t1.ProductID=t2.ProductID
GROUP BY t1.`Name`,t1.ProductID
ORDER BY Quantity DESC
LIMIT 5

In [ ]:
SELECT t2.EmployeeID,CONCAT(t2.FirstName, ' ', t2.MiddleInitial, ' ', t2.LastName) AS SalesPerson,
COUNT(t1.ProductID) AS TotalProductsSold FROM campusx.sales1 t1
INNER JOIN campusx.employees t2
ON t1.SalesPersonID=t2.EmployeeID
GROUP BY t2.EmployeeID,SalesPerson
ORDER BY TotalProductsSold DESC
LIMIT 1

In [ ]:
SELECT t2.EmployeeID,CONCAT(t2.FirstName, ' ', t2.MiddleInitial, ' ', t2.LastName) AS Salesperson,
    COUNT(DISTINCT t1.CustomerID) AS UniqueCustomerCount
FROM campusx.sales1 t1
INNER JOIN campusx.employees t2 ON t1.SalesPersonID = t2.EmployeeID
GROUP BY t2.EmployeeID, Salesperson
ORDER BY UniqueCustomerCount DESC

In [ ]:
SELECT CONCAT(FirstName, ' ',LastName) AS Salseperson,COUNT(t3.Name) AS Quantity,ROUND(SUM(t3.Price),2) AS Revenue FROM campusx.employees t1
INNER JOIN campusx.sales1 t2
ON t1.EmployeeID=t2.SalesPersonID
INNER JOIN products t3
ON t3.ProductID=t2.ProductID
GROUP BY  Salseperson
ORDER BY Revenue DESC
LIMIT 5

In [ ]:
SELECT c.CustomerID,
       CONCAT(c.FirstName, ' ', c.LastName) AS CustomerName,
       COUNT(s.SalesID) AS PurchaseCount
FROM campusx.customers c
INNER JOIN campusx.sales1 s ON c.CustomerID = s.CustomerID
GROUP BY c.CustomerID, CustomerName
HAVING PurchaseCount > 10
ORDER BY PurchaseCount DESC;

In [ ]:
SELECT e.EmployeeID,
       CONCAT(e.FirstName, ' ', e.LastName) AS Salesperson,
       COUNT(DISTINCT s.CustomerID) AS CustomerCount
FROM campusx.employees e
INNER JOIN campusx.sales1 s ON e.EmployeeID = s.SalesPersonID
GROUP BY e.EmployeeID, Salesperson
HAVING CustomerCount > 5
ORDER BY CustomerCount DESC;